{% extends 'layout.html' %}

{% block content %}
{% load static %}

<header class="row bg-black p-4" style="border-radius: 20px;">
    <div class="col-md-4 my-auto">
        <img src="{% static 'portfolio/profile.png' %}" class="img-fluid" style="max-width: auto" alt="">
    </div>
    <div class="col-md-8 my-auto">
        <h1>Hola soy <strong>David Fregoso Leon</strong></h1>
        <h3>Programador fullstack con intereses variados.</h3>
        <p style="text-align: justify;">
            Soy un apasionado de la programación, la tecnología, el arte y cualquier forma de expresión creativa.
            <br>
            Me interesa compartir mis creaciones y reflexiones, especialmente cuando surgen a partir de obras que encuentro visualmente impactantes, conceptualmente profundas o narrativamente sugerentes.
            <br>
            Disfruto de ser sorprendido por ideas, metaforas y enseñanzas inesperadas o no muy explicitas dentro de cualquier obra, ya sea un libro, una película, etc.
            <br>
            Espero que este espacio te sea útil y te resulte interesante.
            <br>
            <hr>
            Este es un proyecto en constante desarrollo. Si tienes alguna recomendación, idea, o si te gustaría colaborar, no dudes en escribirme a:
            <strong>📩 contacto.davidfregosoleon@gmail.com</strong>
        </p>
        <a class="btn btn-primary btn-lg rounded-5 my-3" href="{% static 'portfolio/Resume.pdf' %}" target="_blank">Descargar CV</a>
    </div>
</header>

<div class="container my-4">
    <div class="row text-center">
        <h3 class="mb-4">Mis proyectos</h3>
        <p class="mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, blanditiis!</p>

        {% for project in projects %}
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card card-project bg-dark text-light shadow-lg rounded w-100">
                    <div class="position-relative">
                        <img src="{{ project.img.url }}" alt="{{ project.title }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">{{ project.title }}</h4>
                        <p class="card-text flex-grow-1" style="text-align: justify;">{{ project.description }}</p>
                        {% if project.url %}
                            <a href="{{ project.url }}" class="btn btn-primary mt-auto" target="_blank">Visita el proyecto</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No hay proyectos disponibles.</p>
        {% endfor %}
    </div>
</div>



{% endblock %}
