body {
    background-color: #090909;
}

.bg-black {
    background: #000;
}

.card-project {
    transition: border 0.3s ease; /* Agrega una transición suave */
}

.card-project:hover {
    border: 2px solid white; /* Aplica el borde al pasar el mouse */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}

.justify {
    text-align: justify;
}
.ck-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Para asegurar que la imagen sea responsiva */
    height: auto;
}

.ck-content img {
    max-width: 100%;
    height: auto;
}

.ck-content p span{
    color: white !important;
}